*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

.wrapper{
    height: 100%;
    width: 100%;
    /* background-color: aqua; */
}

.nav{
    height: 60px;
    width: 100%;
    background-color: black;
    display: flex;
}

.main{
    height: calc(100% - 60px);
    width: 100%;
    /* background-color: lightgreen; */
    display: flex;
}

.left-home{
    height: 100%;
    width: 16%;
    background-color: black;
    cursor: pointer;
    overflow-y: auto;
    /* display: none ; */

}

.left-home::-webkit-scrollbar{
    display: none;
}


.right-home{
    height: 100%;
    width: 96%;
    background-color: #f38f8f;
    background-color: #0f0f0f;
    overflow-x: auto;
}

.right-home::-webkit-scrollbar{
    display: none;
}



.home{
    height: fit-content;
    width: 95%;
    /* background-color: gray; */
    display: flex;
    padding: .5vw;
    margin-left: .4vw;
    border-radius: 10px;
    margin-top: .2vw;
}

.home:hover{
    background-color: rgba(189, 189, 189, 0.813);
}

.home i {
    font-size: 1.8vw;
    color: #ffffff;
    font-weight: 100;

}

.home p {
    font-size: 1.2vw;
    margin-left: .7vw;
    margin-top: .5vw;
    color: #ffffff;
}

.border{
    border-bottom: 1.2px solid #ffffff;
    margin: 1vw 0;

}

.content h5{
    font-weight: 600;
    font-size: 1.5vw;
    margin-top: .3vw;
    color: #ffffff;

}

.color{
    background-color: #e3e3e36f;
}

.menu-icon{
     height: 100%;
     width: 5%;
     /* background-color: blueviolet; */
    /* background-color: black; */

     display: flex;
     align-items: center;
     justify-content: center;
}

.youtube-logo{
    height: 100%;
     width: 10%;
     /* background-color: rgb(226, 43, 189); */
}

.search-bar{
    height: 100%;
     width: 55%;
     /* background-color: rgb(73, 226, 43); */
     display: flex;
}

.mike{
    height: 100%;
     width: 5%;
     /* background-color: rgb(226, 43, 189); */
     display: flex;
     justify-content: flex-start;
     align-items: center;
}

.vedio{
    height: 100%;
     width: 12%;
     /* background-color: rgb(248, 240, 15); */
     display: flex;
     align-items: center;
     justify-content: flex-end;
     padding-right: 1vw;
}

.notification{
    height: 100%;
     width: 6%;
     /* background-color: rgb(226, 43, 92); */
     padding-top: 1.3vw;
     padding-left: 1.5vw;
}

.mail{
    height: 100%;
     width: 7%;
     /* background-color: rgb(43, 122, 226); */
     display: flex;
     justify-content: center;
     align-items: center;
}

.menu-icon i{
    margin-top: 2vw;
    height: 80%;
    font-size: 2.2vw;
    font-weight: 500;
    color: #ffffff;
    margin-right: 1.6vw;

}

.menu-icon i:hover{
    cursor: pointer;
    background-color: #494949;
}

.youtube-logo{
    background-image: url(/ok.png);
    background-position: center;
    background-size: cover;
}

.youtube-logo:hover{
    cursor: pointer;
}

.search-bar-left{
    height: 100%;
    width: 88%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.search-bar-right{
    height: 100%;
    width: 12%;
    /* background-color: rgb(16, 163, 119); */
    display: flex;
    align-items: center;
    /* justify-content: flex-end; */
}

.search-bar-left-box{
    height: 80%;
    width: 80%;
    background-color: #f5f5f5;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border: 1px solid #b2b2b2; 
    
}

.search-bar-right-box{
    height: 80%;
    width: 80%;
    background-color: #ececec;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border: 1px solid #b2b2b2;
    display: flex; 
    align-items: center;
    justify-content: center;

}

.search-bar-right-box:hover{
    cursor: pointer;
}

.search-bar-left-box p{
    font-size: 1.4vw;
    padding: 1vw 1.2vw;
    color: #8e8e8e;
}

.listen{
    font-size: 2vw;
    font-weight: 100;
    color: #494949;
}

.mike-box{
    height: 70%;
    width: 70%;
    background-color: #ececec;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mike-box:hover{
    cursor: pointer;
}

.mike-box i{
    font-size: 1.4vw;
    color: #494949;   
}

.vedio i{
    font-size: 1.9vw;
    color: #ffffff;   
    
}

.vedio i:hover{
    cursor: pointer;
}

.notification i{
    color: #ffffff;
    font-size: 1.9vw;
}

.notification:hover{
    cursor: pointer;
}

.mail-box{
    height: 55%;
    width: 40%;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 4.5vw;
}

.mail-box i{
    font-size: 1vw;
}

.mail-box:hover{
    cursor: pointer;
}

.mail-box p{
    color: black;
    font-size: 1.5vw;
}

.right-home-nav{
    height: 9%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: flex-end;
    padding-bottom: .25vw;
    position: relative;
}

.nav-info{
    height: 80%;
    width: 4.4%;
    background-color: cornsilk;
    border-radius: 8px;
    margin-right: .7vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-info:hover{
    cursor: pointer;
}



.section0{
    height: 80%;
    width: fit-content;
    background-color: #ffffff;
    border-radius: 8px;
    margin-right: .7vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section1{
    height: 80%;
    width: fit-content;
    background-color: #ffffff;
    border-radius: 8px;
    margin-right: .7vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section2{
    height: 80%;
    width: fit-content;
    background-color: #ffffff;
    border-radius: 8px;
    margin-right: .7vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section3{
    height: 80%;
    width: fit-content;
    background-color: #ffffff;
    border-radius: 8px;
    margin-right: .7vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section4{
    height: 80%;
    width: fit-content;
    background-color: #ffffff;
    border-radius: 8px;
    margin-right: .7vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section5{
    height: 80%;
    width: fit-content;
    background-color: #ffffff;
    border-radius: 8px;
    margin-right: .7vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section6{
    height: 80%;
    width: fit-content;
    background-color: #ffffff;
    border-radius: 8px;
    margin-right: .7vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section7{
    height: 80%;
    width: fit-content;
    background-color: #ffffff;
    border-radius: 8px;
    margin-right: .7vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section8{
    height: 80%;
    width: fit-content;
    background-color: #ffffff;
    border-radius: 8px;
    margin-right: .7vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section9{
    height: 80%;
    width: fit-content;
    background-color: #ffffff;
    border-radius: 8px;
    margin-right: .7vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section10{
    height: 80%;
    width: fit-content;
    background-color: #ffffff;
    border-radius: 8px;
    margin-right: .7vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section11{
    height: 80%;
    width: fit-content;
    background-color: #ffffff;
    border-radius: 8px;
    margin-right: .7vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section12{
    height: 80%;
    width: fit-content;
    background-color: #ffffff;
    border-radius: 8px;
    margin-right: .7vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section13{
    height: 80%;
    width: fit-content;
    background-color: #ffffff;
    border-radius: 8px;
    margin-right: .7vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section14{
    height: 80%;
    width: fit-content;
    background-color: #ffffff;
    border-radius: 8px;
    margin-right: .7vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section15{
    height: 80%;
    width: fit-content;
    background-color: #ffffff;
    border-radius: 8px;
    margin-right: .7vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.color-change{
    background-color: #383636;
    color: #ffffff;
}


.color-change:hover{
    background-color: #8e8e8e;
    color: white;
}

.nav-info h4{
    padding: 1vw .86vw;
}

.mid-mid{
    height: 100%;
    width: 4%;
    background-color: black;
    display: none;
}

.mid-home{
    height: 11%;
    width: 95%;
    /* background-color: red; */
    margin-top: 1vw;
}

.mid-home:hover{
    background-color: #494949;
}

.mid-home i{
    font-size: 2vw;
    margin-left: .5vw;
    color: #ffffff;

}

.mid-home p{
    font-size: 1vw;
    margin-left: .5vw;
    color: #ffffff;

}


.hide-sidebar{
    display: none;
}

.show-small-sidebar{
    display: flex;
    flex-direction: column;
}


.adjust-search{
    height: 6%;
    width: 5%;
    background-color: rgb(130, 123, 123);
    position: absolute;
    top: 11%;
    right: 32%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: #ffffff;
    display: none;
}

.search-voice{
    height: 6%;
    width: 12%;
    background-color: rgb(130, 123, 123);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    color: #ffffff;
    position: absolute;
    top: 11%;
    right: 22%;
    display: none;

}

.create-adjust{
    height: 5.5%;
    width: 4%;
    background-color: rgb(130, 123, 123);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    color: #ffffff;
    position: absolute;
    top: 9.5%;
    right: 13%;
    display: none;
}

.notification-adjust{
    height: 5.5%;
    width: 7%;
    background-color: rgb(130, 123, 123);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    color: #ffffff;
    position: absolute;
    top: 9.5%;
    right: 7.5%;
    display: none;
}

.search-div{
    height: 85vh;
    width: 50%;
    background-color: #212121;
    position: absolute;
    top: 11.5%;
    right: 28%;
    display: none;
}

.search-exit{
    height: 8%;
    width: 6%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    border-radius: 50%;
    margin-left: 90%;
    margin-top: 2%;
    flex-grow: 0;
    flex-shrink: 0;
}

.search-exit i{
    color: #ececec;
    padding: .7vw .1vw 0 0;
    font-size: 1.5vw;
}

.search-exit:hover{
    cursor: pointer;
    background-color: #5c5c5c;

}

.search-div h1{
    padding: 2vw 2vw 1vw 2vw;
    font-weight: 500;
    font-size: 2.2vw;
    color: #ececec;
}

.search-div h4{
    font-size: 1.4vw;
    padding: 0 2vw;
    font-weight: 300;
    color: #8f8282;
}

.search-div-mike{
    height: 14%;
    width: 11%;
    background-color: gray;
    border-radius: 50%;
    margin: 9vw 20.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 0;
    flex-shrink: 0;
  
}

.search-div-mike.clicked{
    height: 18.5%;
}

.search-div-mike:hover{
    cursor: pointer;
    
}

.search-div-mike{
    font-size: 2vw;
    font-weight: 400;
    color: #ffffff;

}

.search-div.visible {
    display: block; 
  }

.upload-vedio{
    height: 16vh;
    width: 15%;
    background-color: #212121;
    position: absolute;
    top: 8.3%;
    margin-left: 79%;
    border-radius: 10px;
    padding: .5vw.5vw;
    display: none;
    /* display: flex; */
  flex-wrap: wrap;
    
}

.upload-vedio-top{
    height: 50%;
    width: 100%;
    /* background-color: yellow; */
    display: flex;
}

.upload-vedio-bottom{
    height: 50%;
    width: 100%;
    /* background-color: rebeccapurple; */
    display: flex;
}

.upload-vedio i{
    font-size: 1.7vw;
    margin: .2vw 1vw;
    color: #ececec;

}

.upload-vedio p{
    font-size: 1.4vw;
    margin: .2vw .5vw;
    font-weight: 400;
    color: #ececec;

}

.search-recent{
    height: 88vh;
    width: 37%;
    background-color: #212121;
    position: absolute;
    top: 10.5%;
    left: 26%;
    border-radius: 10px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-direction: column; 
}


.recover{
    display: none;
}

.rec{
    margin-top: 1vw;
}

.recent1{
    height: 7%;
    width: 100%;
    /* background-color: #827d7d; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
}


.recent1:hover{
    background-color: #383636;
}


.recent-icon{
    height: 100%;
    width: 10%;
    /* background-color: deeppink; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.recent-paragraph{
    height: 100%;
    width: 76%;
    /* background-color: #3da6ff; */
    display: flex;
    align-items: center;

}

.recent-remove{
    height: 100%;
    width: 11.5%;
    /* background-color: darkorange; */
    display: flex;
    align-items: center;
    justify-content: center;

}

.recent-paragraph p{
    font-size: 1.5w;
    color: red;
    font-weight: 500;
    color: #ececec;
}

.recent-icon i{
    font-size: 1.3vw;
    padding: 1vw .7vw 1vw 1vw;
    color: #ececec;
    font-weight: 100 !important;

}

.recent-remove a{
    text-decoration: none;
    color: #3da6ff;
}

.right-vedio{
    height: 38vh;
    width: 100%;
    background-color: #0f0f0f;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}

.vedio-left{
    height: 95%;
    width: 30%;
    background-color: lightgreen;
    border-radius: 10px;  
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtjPJtXKr_S6H0suOMKgYGDv4DA7TzBXPhcQ&s);
    background-position: center;
    background-size: cover;
}

.vedio-mid{
    height: 95%;
    width: 30%;
    background-color: lightgreen;
    border-radius: 10px;  
}

.vedio-right{
    height: 95%;
    width: 30%;
    background-color: lightgreen;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtjPJtXKr_S6H0suOMKgYGDv4DA7TzBXPhcQ&s);
    background-position: center;
    background-size: cover;
    border-radius: 10px;  
}

.right-vedio-content{
    height: 20vh;
    width: 100%;
    background-color: #0f0f0f;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}

.vedio-content-left{
    height: 95%;
    width: 30%;
    /* background-color: #BFCFE7; */
    display: flex;
}

.vedio-content-mid{
    height: 95%;
    width: 30%;
    /* background-color: #BFCFE7; */
    display: flex;
}

.vedio-content-right{
    height: 95%;
    width: 30%;
    /* background-color: #BFCFE7; */
    display: flex;
}

.vedio-box-div{
    height: 100%;
    width: 13%;
    /* background-color: #E9FF97; */
    padding-top: .2vw;
    padding-left: .1vw;
}

.vedio-box-div-circle{
    height: 40%;
    width: 95%;
    /* background-color: #EF5A6F; */
    border-radius: 50%;
    background-image: url(https://yt3.ggpht.com/00yIYVKjmFvR7sFZXmP5aMq1u0P7ZcLfnDW27A7zRD1hTqcWLwYn0-o_5rGkK2eKfCf43ueE7Q=s68-c-k-c0x00ffffff-no-rj);
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.vedio-title{
    height: 100%;
    width: 77%;
    /* background-color: #F0A8D0; */
}

.vedio-icon{
    height: 100%;
    width: 10%;
    /* background-color: #F5004F; */
    cursor: pointer;
}

.vedio-channel{
    display: flex;
    height: fit-content;

}

.vedio-views{
    display: flex;
    height: fit-content;

}

.vedio-title-up{
    height: fit-content;
}

.vedio-title-up p{
   font-size: 1.3vw;
   font-weight: 600;
   color: #ececec;
}

.vedio-channel p{
    padding: .1vw 0;
    font-weight: 500;
    color: #8e8e8e;

}

.vedio-channel i{
    padding: .28vw .1vw;
    font-size: 1.1vw;
    color: #8e8e8e;

}

.vedio-views p{
    font-size: 1.2vw;
    color: #8e8e8e;

}

.vedio-views i{
    font-size: .5vw;
    padding: .5vw .1vw 0 .4vw;
    color: #8e8e8e;
}

.vedio-icon i{
    font-size: 1.8vw;
    color: #ececec;

}

.circle1{
    background-image: url(https://i.pinimg.com/474x/bc/fe/47/bcfe47b4b2fbcb1dd40cef44569d6d81.jpg);
    background-position: center;
    background-size: cover;
}

.circle11{
    background-image: url(https://yt3.ggpht.com/XE7Iq8jvJ07ptMc-HxZR_V-2XgXCb0i06i4E_dypl7xSR655WXaQeglfqNuEeuwH3oM9RKVodQ=s68-c-k-c0x00ffffff-no-rj);
    background-position: center;
    background-size: cover;
}


.circle2{
    background-image: url(https://i.pinimg.com/736x/ad/e1/b4/ade1b44e0a4692b31be4edbd8528ff46.jpg);
    background-position: center;
    background-size: cover;
}

.circle22{
    background-image: url(https://yt3.ggpht.com/a4AOsw2qHfuXAooYs7EMkwqJMmW_Wbqebpzm8Xmf2Rj_95QMLnAAFDNRNOJG-sSoairOXvQKrS8=s68-c-k-c0x00ffffff-no-rj);
}

.select-div{
    height: 48vh;
    width: 18%;
    background-color: #282828;
    position: absolute;
    top: 58%;
    left: 34%;
    border-radius: 10px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-direction: column; 
    z-index: 1;
    overflow: hidden;
    display: none;
}

.select-content1{
    height: 14%;
    width: 100%;
    /* background-color: #3da6ff; */
    display: flex;
    align-items: center;

}

.select-content2{
    height: 14%;
    width: 100%;
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;

}

.select-content3{
    height: 14%;
    width: 100%;
    /* background-color: darkorange; */
    display: flex;
    align-items: center;

}

.select-content4{
    height: 14%;
    width: 100%;
    /* background-color: darkorchid; */
    display: flex;
    align-items: center;

}

.select-content5{
    height: 2%;
    width: 100%;
    /* background-color: deeppink; */
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f7f1f1;
    margin-bottom: 1%;

}

.select-content6{
    height: 14%;
    width: 100%;
    /* background-color: gold; */
    display: flex;
    align-items: center;

}

.select-content7{
    height: 14%;
    width: 100%;
    /* background-color: khaki; */
    display: flex;
    align-items: center;

}

.select-content8{
    height: 14%;
    width: 100%;
    /* background-color: darkgreen; */
    display: flex;
    align-items: center;

}

.select-div-content i{
   font-size: 1.4vw;
   margin: 0 1vw 0 1vw;
   color: #ececec;
}

.select-div-content p{
    font-size: 1.3vw;
    font-weight: 500;
     color: #ececec;
 }

 .select-div-content:hover{
    cursor: pointer;
    background-color: #5c5c5c;
 }





